.board{
    background-color: #ddb83e;
    min-width: 100vh;
    min-height: 100vh;
    position: relative;;
}
.addNote{
    outline: none;
    background-color: white;
    border: none;
    padding: 10px;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;

}